<div class="col-md-12 background">
    <div class="col-md-6 pets">
        <img src="../../../assets/images/pet.jpg" alt="">
        {{ petCount }} pet(s) atendidos!
    </div>
    <div class="col-md-6 clientes">
        <img src="../../../assets/images/cliente.jpg" alt="">
        {{ clienteCount }} cliente(s) cadastrados!
    </div>
    <div class="col-md-6 consultas">
        <img src="../../../assets/images/consulta.jpg" alt="">
        {{ consultaCount }} consultas(s) realizadas!
    </div>
    <div class="col-md-6 diagnosticos">
        <img src="../../../assets/images/diagnostico.jpg" alt="">
        {{ diagnosticoCount }} diagnósticos(s) emitidos!
    </div>
</div>