<div>
  <div *ngIf="currentPet.id" class="edit-form">
    <h4>Pet</h4>
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          [(ngModel)]="currentPet.nome"
          name="nome"
        />
      </div>
      <div class="form-group">
        <label for="description">Tipo</label>
        <input
          type="text"
          class="form-control"
          id="tipo"
          [(ngModel)]="currentPet.tipo"
          name="tipo"
        />
      </div>
      <div class="form-group">
        <label for="description">Idade</label>
        <input
          type="text"
          class="form-control"
          id="idade"
          [(ngModel)]="currentPet.idade"
          name="idade"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deletePet()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updatePet()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentPet.id">
    <br />
    <p>Não foi possível acessar o Pet...</p>
  </div>
</div>
