<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Procure pelo nome" [(ngModel)]="nome" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchNome()">
                    Buscar
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Lista de Pets</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let pet of pets; let i = index"
                [class.active]="i == currentIndex" (click)="setActivePet(pet, i)">
                {{ pet.nome }}
            </li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPets()">
            Remover todos os pets
        </button>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentPet">
            <h4>Pet</h4>
            <div>
                <label><strong>Nome:</strong></label> {{ currentPet.nome }}
            </div>
            <div>
                <label><strong>Tipo:</strong></label>
                {{ currentPet.tipo }}
            </div>
            <div>
                <label><strong>Idade:</strong></label>
                {{ currentPet.idade }}
            </div>
            <div>

            <a class="badge badge-warning" routerLink="/pets/{{ currentPet.id }}">
                Editar
            </a>
        </div>

        <div *ngIf="!currentPet">
            <br />
            <p>Por favor selecione um Pet.</p>
        </div>
    </div>
</div>